/**globales*/
body {
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  color: $primary-color;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: $primary-color;
}

h1 {
  font-weight: bold;
  font-size: 42px;
}

h3{
 font-size: 40px;
 text-transform: uppercase;
 letter-spacing: 5px;
 margin: 0  0 28px;
}

h2 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  margin: 62px 0 28px;
}

p {
  font-size: 18px;
  line-height: 27px;
  font-weight: 100;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}